<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>MainServlet</servlet-name>
        <servlet-class>sopcov.servlet.MainServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignInOrUpServlet</servlet-name>
        <servlet-class>sopcov.servlet.SignInOrUpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignInServlet</servlet-name>
        <servlet-class>sopcov.servlet.SignInServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignUpRequestServlet</servlet-name>
        <servlet-class>sopcov.servlet.SignUpRequestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowCovoiturage</servlet-name>
        <servlet-class>sopcov.servlet.ShowCovoiturage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchRoute</servlet-name>
        <servlet-class>sopcov.servlet.SearchRoute</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignUpFinishedServlet</servlet-name>
        <servlet-class>sopcov.servlet.SignUpFinishedServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePassword</servlet-name>
        <servlet-class>sopcov.servlet.ChangePassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignOutServlet</servlet-name>
        <servlet-class>sopcov.servlet.SignOutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetReportServlet</servlet-name>
        <servlet-class>sopcov.servlet.GetReportServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ShowCovoiturage</servlet-name>
        <url-pattern>/ShowCovoiturage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchRoute</servlet-name>
        <url-pattern>/SearchRoute</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MainServlet</servlet-name>
        <url-pattern>/MainServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignInOrUpServlet</servlet-name>
        <url-pattern>/SignInOrUpServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignInServlet</servlet-name>
        <url-pattern>/SignInServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignUpRequestServlet</servlet-name>
        <url-pattern>/SignUpRequestServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePassword</servlet-name>
        <url-pattern>/ChangePassword.do</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <context-param>
        <param-name>dbuserid</param-name>
        <param-value>prog</param-value>
    </context-param>
    <context-param>
        <param-name>dbuserpwd</param-name>
        <param-value>prog</param-value>
    </context-param>
    <context-param>
        <param-name>dbcatalog</param-name>
        <param-value>sopcov</param-value>
    </context-param>
    <servlet-mapping>
        <servlet-name>SignUpFinishedServlet</servlet-name>
        <url-pattern>/SignUpFinishedServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignOutServlet</servlet-name>
        <url-pattern>/SignOutServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetReportServlet</servlet-name>
        <url-pattern>/GetReportServlet.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
